{% extends "login_base.html" %}

{% block login_form %}
<div style="height:100vh;" class="d-flex justify-content-center align-items-center">
    <div class="bg-light p-5 rounded-3">
        <form action="" method="post">
            {% csrf_token %}
            <h2 class="text-center">Регистрация</h2>
            <div class="mt-3">
                {{ form.username}}
            </div>
            <div class="mt-3">
                {{ form.first_name }}
            </div>
            <div class="mt-3">
                {{ form.last_name }}
            </div>
            <div class="mt-3">
                {{ form.email }}
            </div>
            <div class="mt-3">
                {{ form.password }}
            </div>
            <div class="mt-3">
                {{ form.password_confirm }}
            </div>
            <button type="submit" class="btn btn-primary mt-3" style="width:100%;">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock login_form %}