{% extends 'base.html' %}

{% block title %}
Удаление
{% endblock title %}


{% block content %}
<div style="height:50vh;" class="d-flex justify-content-center align-items-center">
    <div class="bg-light p-5 rounded-3">
        <p>Вы действительно желаете удалить "{{ project.summary }}"?</p>
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <a href="{% url 'project-list' %}" class="btn btn-secondary">Вернуться</a>
                <input class="btn btn-danger" type="submit" value="Удалить">
            </div>
        </form>
    </div>
</div>
{% endblock content %}