{% extends 'base.html' %}

{% block title %}
Список задач
{% endblock title %}

{% block page_title %}
<h2>Список задач</h2>
{% endblock page_title %}

{% block search %}
<form action="">
    <div class="d-flex justify-content-center gap-3">
        {{ search_form.search}}
        <button class="btn btn-primary" type="submit">Найти</button>
    </div>

</form>
{% endblock search %}

{% block content %}
{% include 'tracker/partial/task_item_list.html'%}
<div class="mt-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock content %}